.event-box{
    width: 70% !important;
    height: 100%;
    border-radius: 10px;
    display: flex;
    margin-bottom: 4%;
    border: 0.5px solid #00000020;
    
    
  }
  
  .event-box .event-box-left{
    width: 70%;
    display: flex;
    height: 100%;
  }
  .event-box .event-box-right{
    height: 100%;
    width: 50%;
    /* background-color: #2c3e50; */
   
  }
  
  .event-box .event-box-right .text-event{
    height: 90%;
    margin-top: 4%;
    margin-left: 6%;
    font-size: 20px;
    width: 100%;
    display: flex;
    
  }
  
  .event-box .event-box-right .text-event-bottom{
    margin-top: 16rem;
    height:  10%;
    margin-left: 4%;
    font-size: 14px;
    width: 100%;
    
  }
  
  .event-box .event-box-right .text-event-bottom .button-left{
    text-align: center;
    height:  100%;
    width: 50%;
    padding-bottom: 4%;
  }
  
  .event-box .event-box-right .text-event-bottom .button-right{
    text-align: center;
    height:  100%;
    width: 50%;
    padding-bottom: 4%;
  }

  .large-input {
    width: 400px;
  }

  .swal2-container-custom {
    width: 70% !important;
  }

  .custom-slide-toggle {
    font-size: 20px; /* Adjust the font size as per your preference */
    transform: scale(1.5); /* Adjust the scale factor to increase the size */
  }