<mat-card>
    <mat-card-content>
        <form 
    class="form-detail"
    
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate>
        <input
            type="text"
            class="form-control"
            name="password"
            [(ngModel)]="formPassword.password"
            #password="ngModel" 
            required
            placeholder="รหัสผ่านใหม่"
          />
          <button >
            เปลี่ยน
          </button>
        </form>
    </mat-card-content>
  </mat-card>

