<div class="login">
  <div class="login_box">
    <div class="left">
      <div class="contact">
        <form
          [formGroup]="myForm"
          class="form-detail"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <h3 style="font-weight: bold"><strong>กรอกรหัสผ่านใหม่</strong></h3>

          <mat-form-field class="example-full-width">
            <mat-label>รหัสผ่าน</mat-label>
            <input
              matInput
              type="password"
              formControlName="password"
              name="password"
              placeholder="รหัสผ่าน"
            />
            <mat-error
              *ngIf="
                myForm.get('password')?.hasError('invalidPassword') &&
                !myForm.get('password')?.hasError('required')
              "
            >
              โปรดกรอกรหัสผ่านที่ถูกต้อง
            </mat-error>
            <mat-error *ngIf="myForm.get('password')?.hasError('required')">
              โปรดกรอกรหัสผ่าน
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>ยืนยันรหัสผ่านอีกครั้ง</mat-label>
            <input
              type="password"
              name="confirmPassword"
              matInput
              formControlName="confirmPassword"
              placeholder="ยืนยันรหัสผ่านอีกครั้ง"
            />
            <mat-error
                *ngIf="myForm.get('confirmPassword')?.hasError('required')"
              >
                โปรดยืนยันรหัสผ่านอีกครั้ง
              </mat-error>
            <mat-error
              *ngIf="
                !myForm.hasError('passwordMismatch') &&
                myForm.get('confirmPassword')?.touched
              "
            >
              โปรดยืนยันรหัสผ่านให้ถูกต้อง
            </mat-error>
          </mat-form-field>
          <button type="submit">
            <i class="fa fa-check" aria-hidden="true" style="margin: 2%"></i
            >ยืนยัน
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
