<mat-dialog-content class="mat-typography">
  <div class="detail-container" style="text-align: center">
    <div class="container-calender" style="text-align: center">
      <div class="detail-text">ลงทะเบียนเข้าร่วมสำเร็จ</div>
      <img src="../../../assets/image/checked.png" width="15%" />
    </div>
    <button
      mat-button
      type="submit"
      name="register"
      class="register"
      value="ลงทะเบียน"
      (click)="check_activity()"
      style="background-color: #27a644; color: #fff"
    >
      ลงทะเบียน
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  
  <button
    mat-button
    mat-dialog-close
    style="background-color: #ff2626; color: #fff"
  >
    ปิดหน้านี้
  </button>
</mat-dialog-actions>
