<form
  [formGroup]="myForm"
  class="form-detail"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <mat-dialog-content class="mat-typography">
    <div
      class="detail-container"
      style="font-family: 'Kanit'; font-weight: bold"
    >
      <div class="container-calender">
        <div class="detail-text">โปรดเลือกวันที่ต้องการเข้าร่วม</div>
      </div>

      <div style="text-align: center">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>เลือกวันที่ต้องการเข้าร่วม</mat-label>
          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker"
            [(ngModel)]="form.date"
            placeholder="เดือน/วัน/ปี"
            formControlName="date"
            [value]="currentDate"
          />
          <mat-hint>ตัวอย่าง: 12/30/2023</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="myForm.get('date')?.hasError('required')"
            >โปรดระบุที่ต้องการเข้าร่วม</mat-error
          >
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-button
      type="submit"
      name="register"
      class="register"
      value="ลงทะเบียน"
      style="background-color: #27a644; color: #fff"
    >
      สมัครเข้าร่วม
    </button>
    <button
      mat-button
      mat-dialog-close
      style="background-color: #ff2626; color: #fff"
    >
      ปิด
    </button>
  </mat-dialog-actions>
</form>
