<div
  style="
    width: 75%;
    height: 822px;
    background-color: #c3fcf1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  "
>
  <div
    style="
      background-color: aqua;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div style="background-color: bisque; width: 100%; min-height: 734px">
      <img src="../../assets/image/4.jpg" style="height: 80%;">
    </div>
  </div>
  <div
    style="
      background-color: rgb(19, 114, 43);
      width: 50%;
      height: 100%;
      display: flex;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div style="height: 734px; width: 100%">
      <div style="width: 100%; display: flex; height: 100%">
        <div style="height: 100%; width: 100%; background-color: red">
          <div style="margin: 2%">
            <mat-card style="height: 100%">
              <mat-card-header>
                <mat-card-title style="color: black"
                  >มูลนิธิกระจกเงา สำนักงานกรุงเทพฯ</mat-card-title
                >
                <mat-card-subtitle style="color: black"
                  >เลขที่ 191 ซอยวิภาวดี 62 (แยก 4-7) ถนนวิภาวดีรังสิต
                    แขวงตลาดบางเขน เขตหลักสี่ กรุงเทพมหานคร 10210 The Mirror
                    foundation 191 , Vipavadee-Rangsit road , Vipavadee soi 62
                    yang 4-7 ,Taladbangkhan , Laksi, Bangkok 10210
                  </mat-card-subtitle
                >
              </mat-card-header>
              <mat-card-header>
                <mat-card-title>เวลาทำการ</mat-card-title>
                <mat-card-subtitle style="color: black"
                  >วันจันทร์-ศุกร์ เปิด 9.30-18.00 น. วันเสาร์-อาทิตย์
                  และวันหยุดนักขัตฤกษ์ เปิด 10.00-16.00น.</mat-card-subtitle
                >
              </mat-card-header>
              <mat-card-header>
                <mat-card-title>โทรศัพท์</mat-card-title>
                <mat-card-subtitle style="color: black"
                  >061-909-1840</mat-card-subtitle
                >
              </mat-card-header>
              <mat-card-content></mat-card-content>
            </mat-card>
          </div>
          <div style="margin: 2%">
            <mat-card style="height: 100%">
              <mat-card-header>
                <mat-card-title
                  >มูลนิธิกระจกเงา สำนักงานเชียงราย</mat-card-title
                >
                <mat-card-subtitle style="color: black;"
                  >เลชที่ 241 หมู่ 1 ตำบลแม่ยาว อำเภอเมือง จังหวัดเชียงราย
                  รหัสไปรษณีย 57000 The Mirror foundation 241, Mae Yao, Mueang
                  Chiang Rai District, Chiang Rai 57000</mat-card-subtitle
                >
              </mat-card-header>

              <mat-card-header>
                <mat-card-title>โทรศัพท์</mat-card-title>
                <mat-card-subtitle style="color: black;">(053) 713-616</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content></mat-card-content>
            </mat-card>
          </div>
          <div style="margin: 2%">
            <mat-card style="height: 100%">
              <mat-card-header>
                <mat-card-title>มูลนิธิกระจกเงา สำนักงานฟาง</mat-card-title>
                <mat-card-subtitle style="color: black;"
                  >เลขที่ 277 ม.10 ต.แม่ข่า อ.ฝาง จ.เชียงใหม่ The Mirror
                  foundation 277 , Moo 10, Maekha,Fang
                  ,ChaingMai</mat-card-subtitle
                >
              </mat-card-header>

              <mat-card-header>
                <mat-card-title>โทรศัพท์</mat-card-title>
                <mat-card-subtitle style="color: black;">098 749 5277</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content></mat-card-content>
            </mat-card>
          </div>
          
        </div>
      </div>
      <!-- <div style="width: 100%; display: flex; height: 50%">
        <div style="height: 100%; width: 50%; background-color: red">
          <div style="margin: 2%">
            <mat-card style="height: 100%">
              <mat-card-content>Simple card</mat-card-content>
            </mat-card>
          </div>
        </div>
        <div style="height: 100%; width: 50%; background-color: red">
          <div style="margin: 2%">
            <mat-card style="height: 100%">
              <mat-card-content>Simple card</mat-card-content>
            </mat-card>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
