.wrapper {
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
  font-family: "Kanit";
}

.event-box {
  width: 100% !important;
  min-height: 420px;
  max-height: 420px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 4%;
  border: 0.5px solid #00000020;
  background-color: #ffffff;
}

.event-box .event-box-left {
  min-width: 50%;
  min-height: 420px;
  text-align: center;
}
.event-box .event-box-right {
  min-width: 50%;
  min-height: 420px;
  /* background-color: #2c3e50; */
}

.event-box .text-event {
  height: 90%;
  margin-top: 4%;
  margin-left: 6%;
  font-size: 20px;
  width: 100%;
  display: flex;
}

.event-box .event-box-right .text-event-bottom {
  margin-top: 16rem;
  height: 10%;
  margin-left: 4%;
  font-size: 14px;
  width: 100%;
}

.event-box .event-box-right .text-event-bottom .button-left {
  text-align: center;
  height: 100%;
  width: 50%;
  padding-bottom: 4%;
}

.event-box .event-box-right .text-event-bottom .button-right {
  text-align: center;
  height: 100%;
  width: 50%;
  padding-bottom: 4%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.text-comment-box {
  min-height: 60px;
  font-size: 16px;
}

.text-comment-box .text-comment {
  margin-top: 2rem;
}

.text-header {
  font-weight: bold;
  height: 20%;
  font-size: 24px;
  width: 100%;
  display: flex;
  /* background-color: #fd0000; */
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.mat-list-item {
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-line;
}

.example-list-wrapping {
  min-width: 100%;
  max-width: 100%;
}

.expand-comment-button:hover {
  background-color: #565656;
  color: #ffde02;
}

.icon-and-text {
  display: flex;
  align-items: center;
}

.custom-icon {
  font-size: 20px; /* Adjust the size as needed */
}

.user-name {
  font-weight: bold; /* Optional: Add styling to the user name */
}

.mirror-icon {
  transform: scaleX(-1);
  margin-right: 1%;
}
