<div class="wrapper" style="margin-top: 2%">
  <div *ngFor="let event of eventlist; let i = index">
    <div class="event-box">
      <div class="event-box-left">
        <div class="img-box">
          <img src="../../assets/image/14.jpg" alt="Image" class="image" />
        </div>
      </div>
      <div class="event-box-right">
        <div class="text-header">
          <div
            style="
              margin-top: 2%;
              margin-left: 6%;
              font-size: 28px;
              font-weight: bold;
            "
          >
            กิจกรรม : {{ event.activity_name }} <br />
            <ng-container *ngFor="let star of MaxratingValue; let i = index">
              <mat-icon
                [ngClass]="{
                  'yellow-star': i < ratingValue,
                  'gray-star': i >= ratingValue
                }"
                >star</mat-icon
              >
            </ng-container>
          </div>
        </div>
        <mat-tab-group
          mat-stretch-tabs
          style="height: 68%; margin-left: 4%; margin-right: 4%"
        >
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>details</mat-icon>
              <span>รายละกิจกรรม</span>
            </ng-template>
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title style="font-weight: bold; color: black"
                  >ชื่อกิจกรรม : {{ event.activity_name }}</mat-card-title
                >
                <mat-card-subtitle style="color: black; font-size: large">
                  เวลาทำกิจกรรม : {{ event.time_detail }} น.<br />เปิดรับสมัคร :
                  วันละ {{ event.size_number }} คน จนถึงวันที่
                  <!-- {{ con_date(event.end_date) }}<br />สิ่งที่อาสาจะได้ทำ : -->
                  {{ event.activity_details }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content style="margin-top: 4%">
                <mat-button-toggle-group
                  name="fontStyle"
                  aria-label="Font Style"
                  class="group-detail-button"
                >
                  <a
                    href="https://goo.gl/maps/JDoN6Bcu3JjQpGsLA"
                    target="_blank"
                    class="detail-button"
                  >
                    <mat-button-toggle value="bold" class="detail-button">
                      <mat-icon>location_on</mat-icon>
                      สถานที่ทำกิจกรรม
                    </mat-button-toggle>
                  </a>
                  <mat-button-toggle
                    value="italic"
                    class="detail-button"
                    (click)="
                      openClothesDetail(
                        event.clothes_detail,
                        event.etc_detail,
                        event.travel_etc_detail,
                        event.received_hours
                      )
                    "
                    ><mat-icon>help_outline</mat-icon
                    >ข้อมูลเพิ่มเติม</mat-button-toggle
                  >
                </mat-button-toggle-group>
                <mat-button-toggle-group
                  name="fontStyle"
                  aria-label="Font Style"
                  class="group-detail-button"
                >
                  <mat-button-toggle
                    value="bold"
                    class="detail-button"
                    (click)="openTravelCarDetail(event.travel_detail)"
                    ><mat-icon>directions_car</mat-icon
                    >เดินทางด้วยรถส่วนตัว</mat-button-toggle
                  >
                  <mat-button-toggle
                    value="italic"
                    class="detail-button"
                    (click)="openTravelPulicDetail(event.travel_public_detail)"
                    ><mat-icon>directions_bus</mat-icon
                    >เดินทางด้วยรถสาธารณะ</mat-button-toggle
                  >
                </mat-button-toggle-group>
              </mat-card-content>
            </mat-card>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>share</mat-icon>
              แชร์กิจกรรม
            </ng-template>
            <div
              class="fb-share-button"
              data-href="https://front-end-mirror-volunteer.netlify.app/openevent"
              data-layout="button"
              data-size="large"
            >
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffront-end-mirror-volunteer.netlify.app%2Fopenevent&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore"
              >
                <mat-icon class="facebook-icon">facebook</mat-icon>
              </a>
            </div>
          </mat-tab>
        </mat-tab-group>
        <div style="display: flex; width: 100%; height: 12%">
          <button
            mat-raised-button
            *ngIf="!checklogin"
            value="สมัครเข้าร่วม"
            (click)="openDialogPleaseLogin()"
            style="
              background-color: #27a644;
              color: white;
              font-weight: bold;
              height: 100%;
              width: 100%;
              border-radius: 0px 0px 10px 0px;
              font-size: large;
            "
          >
            <mat-icon>forward</mat-icon>กดที่นี่เพื่อสมัครเข้าร่วม
          </button>
          <button
            mat-raised-button
            *ngIf="checklogin"
            value="สมัครเข้าร่วม"
            (click)="
              openJoinEventDialog(
                event.id,
                event.activity_name,
                currentUser.id,
                currentUser.non_blacklist,
                event.end_date
              )
            "
            style="
              background-color: #27a644;
              color: white;
              font-weight: bold;
              height: 100%;
              width: 100%;
              border-radius: 0px 0px 10px 00px;
              font-size: large;
            "
          >
            <mat-icon>forward</mat-icon>กดที่นี่เพื่อสมัครเข้าร่วม
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
