<div class="wrapper">
    <div class="tabs">
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
        <label for="tab-1" class="tab-label">กิจกรรมที่เปิดรับ</label>
        <div class="tab-content">
          
          <div *ngFor="let event of eventlist,let i = index ">
            
            <div class="event-box" >
              
              <div class="event-box-left" id="id_event{{i}}">
              <img src={{event.picture}} style="width: 100%; border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;">
            </div>
            <div class="event-box-right">
              <div class="text-event">
                กิจกรรม : {{event.activity_name}}<br>
                จำกัดผู้เข้าร่วมวันละ : {{event.size_number}} คน
              </div>
              <div class="text-event-bottom">
                <div class="row">
                  <div class="button-left">
                    <button mat-button (click)="openDialog()" style="background-color: #EE4266;color: rgb(255, 255, 255);">ดูรายละเอียดเพิ่มเติม</button>
                  </div>
                  <div class="button-right">
                    <button mat-button (click)="openDialog2(event.id,event.activity_name,currentUser.id,currentUser.name)" style="background-color: #27A644;color: rgb(255, 255, 255);">สมัครเข้าร่วม</button>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>


  