<html>
    <button>Generate PDF</button>
    <body id="myElement">


        <div class="container" >
            <div class="logo">
                มูลนิธิกระจอกเงา
            </div>

            <div class="marquee">
                Certificate of {{this.nameActivity}}
            </div>

            <div class="assignment">
                This certificate is presented to
            </div>

            <div class="person">
                {{this.nameASA}}
            </div>

            <div class="reason">
               วันที่<br/>
                {{this.date}}
            </div>
        </div>
    </body>
</html>