
<mat-dialog-content class="mat-typography">
  <div class="detail-container">
    <mat-divider></mat-divider>
    <div class="detail-container-header">
      <div class="detail-header-name">
        <div class="detail-name">
          อาสาจัดเต็ม
        </div>
      </div>
      <div class="detail-header-space">
        
      </div>
      <div class="detail-header-time">
        <div class="detail-time">
          ระยะเวลาทำกิจกรรม
        </div>
      </div>
      <div class="detail-header-space">
        
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="detail-container-body">
      <div class="body-pl">
        <div class="detail-text-left-container">
          <div class="detail-text">
            รายละเอียดกิจกรรม
            <div class="row" style="margin-right: 0rem; margin-left: 0rem; margin-top: 1rem;">
              <div class="detail-text-left">
                เวลานัดหมาย : 
              </div>
              <div class="detail-text-right">
                09:00 น.
              </div>
            </div>
            <div class="row" style="margin-right: 0rem; margin-left: 0rem;">
              <div class="detail-text-left">
                เวลาทำกิจกรรม : 
              </div>
              <div class="detail-text-right">
                09.00-16.00 น. 
              </div>
            </div>
            <div class="row" style="margin-right: 0rem; margin-left: 0rem;">
              <div class="detail-text-left">
                การแต่งกาย : 
              </div>
              <div class="detail-text-right">
                กางเกงขายาว รองเท้าผ้าใบ<br>
                สามารถใส่ชุดนักเรียน ชุดพละ <br>
                ชุดนักศึกษาได้
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="detail-text">
            ไทมไลน์กิจกรรม
            <div class="row" style="margin-right: 0rem; margin-left: 0rem; margin-top: 1rem;">
              <div class="detail-text-left">
                เวลานัดหมาย : 
              </div>
              <div class="detail-text-right">
                09:00 น.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>ปิดหน้านี้</button>
</mat-dialog-actions>
