<div class="login">
  <svg preserveAspectRatio="xMidYMid slice" viewBox="10 10 80 80">
    <defs>
      <style>
        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        .out-top {
          animation: rotate 20s linear infinite;
          transform-origin: 13px 25px;
        }
        .in-top {
          animation: rotate 10s linear infinite;
          transform-origin: 13px 25px;
        }
        .out-bottom {
          animation: rotate 25s linear infinite;
          transform-origin: 84px 93px;
        }
        .in-bottom {
          animation: rotate 15s linear infinite;
          transform-origin: 84px 93px;
        }
      </style>
    </defs>
    <path
      fill="#00b4d8"
      class="out-top"
      d="M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z"
    />
    <path
      fill="#88d8b0"
      class="in-top"
      d="M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z"
    />
    <path
      fill="#ff6f69"
      class="out-bottom"
      d="M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z"
    />
    <path
      fill="#ffcc5c"
      class="in-bottom"
      d="M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z"
    />
  </svg>
  <div class="login_box">
    <div class="center">
      <h3 style="font-weight: bold">
        <strong>เข้าสู่ระบบอาสาสมัคร</strong>
      </h3>
      <form
        *ngIf="!isLoggedIn"
        name="form"
        #f="ngForm"
        novalidate
        class="form-login"
      >
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label
            ><i class="fa fa-envelope" style="margin: 5%"> อีเมล</i></mat-label
          >
          <input
            type="email"
            name="email"
            id="email"
            placeholder="กรอกอีเมล"
            [formControl]="emailFormControl"
            [(ngModel)]="form.email"
            matInput
          />

          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            โปรดกรอกอีเมลที่ถูกต้อง
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            โปรดกรอกอีเมล
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label
            ><i class="fa fa-key" style="margin: 5%"> รหัสผ่าน</i></mat-label
          >
          <input
            id="password"
            [type]="hide ? 'password' : 'text'"
            type="password"
            matInput
            placeholder="กรอกรหัสผ่าน"
            [formControl]="passwordFormControl"
            [(ngModel)]="form.password"
            matInput
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              passwordFormControl.hasError('invalidPassword') &&
              !passwordFormControl.hasError('required')
            "
          >
            โปรดกรอกรหัสผ่านที่ถูกต้อง
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            โปรดกรอกรหัสผ่าน
          </mat-error>
        </mat-form-field>
        <div class="login-button">
          <button
            id="loginbtn"
            mat-raised-button
            (click)="onSubmit()"
            [ngStyle]="{
              'background-color': '#27A644',
              color: '#ffffff',
              'font-size': '150%',
              padding: '5%'
            }"
            [disabled]="!form.email || !form.password"
            class="submit-button"
          >
            <i class="fa fa-sign-in"></i>
            เข้าสู่ระบบ
          </button>
        </div>

        <mat-button-toggle-group
          class="group-bottom-button"
          name="fontStyle"
          aria-label="Font Style"
        >
          <mat-button-toggle
            id="newregister"
            class="register-button"
            routerLink="/register"
            >ลงทะเบียนใหม่</mat-button-toggle
          >
          <mat-button-toggle
            id="forgetpw"
            class="forgot-password-button"
            (click)="resetPassword()"
            >ลืมรหัสผ่าน?</mat-button-toggle
          >
        </mat-button-toggle-group>
      </form>
    </div>
  </div>
</div>
