<mat-toolbar
  style="
    background-color: #ffde02;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
  "
  ><div style="display: flex; justify-content: left">
    <img src="../assets/image/logo.jpg" width="20%" height="20%" />
  </div>
  <div style="display: flex; justify-content: center">
    <div style="flex: 1">
      <a
        mat-button
        [routerLink]="'/home'"
        style="
          font-size: large;
          width: 100%;
          display: flex;
          justify-content: center;
        "
      >
        <mat-icon style="vertical-align: middle">home</mat-icon>
        <span style="vertical-align: middle">หน้าแรก</span>
      </a>
    </div>
    <div style="flex: 1">
      <a
        mat-button
        [routerLink]="'/openevent'"
        style="
          font-size: large;
          width: 100%;
          display: flex;
          justify-content: center;
        "
      >
        <mat-icon style="vertical-align: middle">event</mat-icon>
        <span style="vertical-align: middle">กิจกรรมอาสา</span>
      </a>
    </div>
    <div style="flex: 1">
      <a
        mat-button
        style="
          font-size: large;
          width: 100%;
          display: flex;
          justify-content: center;
        "
        (click)="cer()"
      >
        <mat-icon style="vertical-align: middle">call</mat-icon>
        <span style="vertical-align: middle">ติดต่อเรา</span>
      </a>
    </div>
  </div>

  <div style="text-align: right" *ngIf="isLoggedIn">
    <div *ngIf="!isAdmin">
      <button mat-button [matMenuTriggerFor]="notifications">
        <span
          class="material-symbols-outlined"
          matBadge="{{ this.userActivityTomorrow }}"
          matBadgeColor="warn"
        >
          notifications
        </span>
      </button>
      <mat-menu #notifications="matMenu">
        <button
          mat-menu-item
          *ngFor="let x of listUserActivityTomorrow"
          (click)="notification_bell()"
        >
          คุณมีกิจกรรม{{ x.userActivityName }} ที่ลงทะเบียนไว้
          กิจกรรมเริ่มวันที่
          {{ x.date }}
          <mat-divider></mat-divider>
        </button>
      </mat-menu>
      <a mat-button [matMenuTriggerFor]="menu" style="font-size: large">
        <mat-icon style="vertical-align: middle">menu</mat-icon>
        <span style="vertical-align: middle">{{
          currentUser.name
        }}</span>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/profile'">โปรไฟล์</button>
        <button mat-menu-item (click)="logout()">ออกจากระบบ</button>
      </mat-menu>
    </div>
    <div *ngIf="isAdmin">
      <a mat-button [matMenuTriggerFor]="menuAdmin" style="font-size: large">
        <mat-icon style="vertical-align: middle">menu</mat-icon>
        <span style="vertical-align: middle">{{
          currentUser.name
        }}</span>
      </a>
      <mat-menu #menuAdmin="matMenu">
        <button mat-menu-item [routerLink]="'/admin-dashboard'">ภาพรวม</button>
        <button mat-menu-item [routerLink]="'/admin-manage-event'">
          จัดการกิจกรรม
        </button>
        <button mat-menu-item [routerLink]="'/admin-manage-volunteer'">
          จัดการอาสา
        </button>
        <button mat-menu-item (click)="logout()">ออกจากระบบ</button>
      </mat-menu>
    </div>
  </div>
  <div style="text-align: right" *ngIf="!isLoggedIn">
    <a mat-button [routerLink]="'/login'" style="font-size: large">
      <mat-icon style="vertical-align: middle">login</mat-icon>
      <span style="vertical-align: middle">เข้าสู่ระบบ</span>
    </a>
  </div>
</mat-toolbar>

<!-- <mat-toolbar
  *ngIf="isLoggedIn"
  style="
    background-color: #ffde02;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
  "
  ><div style="display: flex; justify-content: left">
    <img src="../assets/image/logo.jpg" width="20%" height="20%" />
  </div>
  <div style="display: flex; justify-content: center">
    <div style="flex: 1">
      <a
        mat-button
        [routerLink]="'/home'"
        style="
          font-size: large;
          width: 100%;
          display: flex;
          justify-content: center;
        "
      >
        <mat-icon style="vertical-align: middle">home</mat-icon>
        <span style="vertical-align: middle">หน้าแรก</span>
      </a>
    </div>
    <div style="flex: 1">
      <a
        mat-button
        [routerLink]="'/openevent'"
        style="
          font-size: large;
          width: 100%;
          display: flex;
          justify-content: center;
        "
      >
        <mat-icon style="vertical-align: middle">event</mat-icon>
        <span style="vertical-align: middle">กิจกรรมอาสา</span>
      </a>
    </div>
    <div style="flex: 1">
      <a
        mat-button
        style="
          font-size: large;
          width: 100%;
          display: flex;
          justify-content: center;
        "
        [routerLink]="'/about-us'"
      >
        <mat-icon style="vertical-align: middle">call</mat-icon>
        <span style="vertical-align: middle">ติดต่อเรา</span>
      </a>
    </div>
  </div>

  <div style="text-align: right" >
    <button mat-button [matMenuTriggerFor]="notifications">
      <span
        class="material-symbols-outlined"
        matBadge="{{ this.userActivityTomorrow }}"
        matBadgeColor="warn"
      >
        notifications
      </span>
    </button>
    <mat-menu #notifications="matMenu">
      <button
        mat-menu-item
        *ngFor="let x of listUserActivityTomorrow"
        (click)="notification_bell()"
      >
        คุณมีกิจกรรม{{ x.userActivityName }} ที่ลงทะเบียนไว้ กิจกรรมเริ่มวันที่
        {{ x.date }}
        <mat-divider></mat-divider>
      </button>
    </mat-menu>
    <a mat-button [matMenuTriggerFor]="userMenu" style="font-size: large">
      <mat-icon style="vertical-align: middle">menu</mat-icon>
      <span style="vertical-align: middle">{{ currentUser.result.name }} </span>
    </a>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="'/profile'">โปรไฟล์</button>
      <button mat-menu-item (click)="logout()">ออกจากระบบ</button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-toolbar
  *ngIf="isLoggedIn && isAdmin"
  style="
    background-color: #0213ff;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    color: rgb(255, 255, 255);
  "
  ><div style="display: flex; justify-content: left">ADMIN MODE</div>
  <div style="display: flex; justify-content: center">
    <div style="flex: 1">
      <a
        mat-button
        [routerLink]="'/home'"
        style="
          font-size: large;
          width: 100%;
          display: flex;
          justify-content: center;
        "
      >
        <mat-icon style="vertical-align: middle">home</mat-icon>
        <span style="vertical-align: middle">หน้าแรก</span>
      </a>
    </div>
    <div style="flex: 1">
      <a
        mat-button
        [routerLink]="'/openevent'"
        style="
          font-size: large;
          width: 100%;
          display: flex;
          justify-content: center;
        "
      >
        <mat-icon style="vertical-align: middle">event</mat-icon>
        <span style="vertical-align: middle">กิจกรรมอาสา</span>
      </a>
    </div>
    <div style="flex: 1">
      <a
        mat-button
        style="
          font-size: large;
          width: 100%;
          display: flex;
          justify-content: center;
        "
        [routerLink]="'/about-us'"
      >
        <mat-icon style="vertical-align: middle">call</mat-icon>
        <span style="vertical-align: middle">ติดต่อเรา</span>
      </a>
    </div>
  </div>
  <div style="text-align: right" *ngIf="isLoggedIn && isAdmin">

    <div *ngIf="isAdmin">
      <a mat-button [matMenuTriggerFor]="menu" style="font-size: large">
        <mat-icon style="vertical-align: middle">menu</mat-icon>
        <span style="vertical-align: middle">{{ currentUser.name }}</span>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/admin-dashboard'">ภาพรวม</button>
        <button mat-menu-item [routerLink]="'/admin-manage-event'">
          จัดการกิจกรรม
        </button>
        <button mat-menu-item [routerLink]="'/admin-manage-volunteer'">
          จัดการอาสา
        </button>
        <button mat-menu-item (click)="logout()">ออกจากระบบ</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar> -->
<router-outlet></router-outlet>
