<div id="app">
  <nav class="navbar navbar-expand " style="background-color: #FFDE02;">
    
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <button  class="btn" routerLink="home"><img src="../assets/image/logo.jpg" width="30" height="30">หน้าแรก </button>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
    </ul>
    <ul class="navbar-nav " *ngIf="isLoggedIn">
      <li class="nav-item" >
        <button class="btn" *ngIf="isLoggedIn" routerLink="openevent">กิจกรรมอาสา</button>
      </li>
      
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item" >
        <a href="/login" class="nav-link" routerLink="login">เข้าสู่ระบบ</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <!-- <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{currentUser.name}}</a>
      </li> -->
      <li class="nav-item">
        <button mat-button [matMenuTriggerFor]="menu" class="btn">{{currentUser.name}}<i class="fa fa-bars" style="margin-left: 0.7rem;"></i></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="profile">ข้อมูลบัญชี</button>
            <button mat-menu-item (click)="logout()">ออกจากระบบ</button>
          </mat-menu>
      </li>
      
    </ul>
  </nav>

  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <header class="site-header">
<div class="wrapper site-header__wrapper">
  <div  class="site-header__start">
    <a href="" class="brand">AAA</a>
  </div>
  <div class="site-header__middle">
    <nav class="nav">
      <button class="nav__toggle" aria-expanded="false" type="button">
        menu
      </button>
      <ul class="nav__wrapper">
        <li class="nav__item"><a href="#">Home</a></li>
        <li class="nav__item"><a href="#">About</a></li>
        <li class="nav__item"><a href="#">Services</a></li>
        <li class="nav__item"><a href="#">Hire us</a></li>
        <li class="nav__item">        <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>

    </nav>

  </div>
  <div class="site-header__end">
    <a href="#">Sign in</a>
  </div>
</div>
</header> -->