<div class="wrapper">
  
  <div class="tabs">
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label">ข้อมูลบัญชี</label>
      <div class="tab-content">
        <div class="gutters-sm">
          <div class="profile-box">
            <div class="card mb-3">
            <div class="profile-detail">
              <div class="profile-left">
                <div class="mt-3">
                  <img
              id="profile-img"
              src="../../assets/image/user1.png"
              class="profile-img"
            />
                  <h4>{{currentUser.name }}         {{currentUser.lastname }}</h4>
                  <p class="">สถานะ : {{this.status}} <br>
                    เวลาการเข้าร่วม : {{currentUser.received_hours }} ชั่วโมง
        
                  </p>
                </div>
              </div>
              <div class="profile-right">
                <div class="part1">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">ชื่อ</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{currentUser.name }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">นามสกุล</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{currentUser.lastname }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">ชื่อเล่น</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{currentUser.nickname }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">เพศ</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{currentUser.gender }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">วันเกิด</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{currentUser.birthday }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">ศาสนา</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{currentUser.religion }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-12">
                        <a class="btn btn-info "  href="">Edit</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="part2">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">อีเมล</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{currentUser.email }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">เบอร์โทรศัพท์</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{currentUser.phoneNumber }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">อาชีพ</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{currentUser.career }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">สถานที่ทำงาน</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{currentUser.workplace }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">โรคประจำตัว</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{currentUser.congenitalDisease }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">อาหารที่แพ้</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{currentUser.allergicFood }}
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
          </div>
      </div>
    </div>
  </div>
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
      <label for="tab-2" class="tab-label">ตรวจสอบกิจกรรม</label>
      <div class="tab-content"> 
            <div class="activity-container" *ngFor="let x of check_activity">
              <div class="header-contain">
                <div class="header-text">
                  {{con_date(x.date)}}<br>
                  {{x.userActivityName}}
                </div>
            
          </div>
          <div class="activity-name-contain">
            <div class="activity-name-text">
              
            </div>
            
          </div>
          <div class="button-contain">
          <button mat-button (click)="openDialogDetail(x.activityId,x.userActivityName,currentUser.id,currentUser.name,x.date)" style="background-color: #27A644;color: rgb(255, 255, 255); margin-top: 1.4rem; margin-bottom: 1.4rem; margin-right: 2rem;">รายละเอียด</button>
          </div>
            <!-- <button mat-button type="submit" name="register" class="register" value="ลงทะเบียน" style="background-color: #FF2626;color: #fff;">รายละเอียด</button> -->
          </div>
          <div style="margin-right: 3rem; color: #FF2626;">
            *หากอาสาไม่ได้มาตามวันเวลาที่ได้นัดหมายและไม่ได้ทำการยกเลิกการสมัครเข้าร่วมการจะติดสถานะแบล็คลิสต์ 
          </div>
      </div>
      
    </div>
    <div class="tab" >
      <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
      <label for="tab-3" class="tab-label">ประวัติการเข้าร่วม</label>
      <div class="tab-content" *ngFor="let h of history_activity">
        <div class="activity-container">
          <div class="header-contain">
            <div class="header-text">
              {{con_date(h.date)}}<br>
              {{h.userActivityName}}
            </div>
        
      </div>
      <div class="activity-name-contain">
        <div class="activity-name-text">
          
        </div>
        
      </div>
      <div class="button-contain">
      </div>
        <!-- <button mat-button type="submit" name="register" class="register" value="ลงทะเบียน" style="background-color: #FF2626;color: #fff;">รายละเอียด</button> -->
      </div>
        
      </div>
    </div>
  </div>
</div>

  

