<div class="wrapper">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    [selectedIndex]="(tabs.tabs)"
    style="margin-top: 2%"

  >
  
    <mat-tab label="ข้อมูลบัญชี" 
      ><div class="gutters-sm" style="font-weight: bold">
        <div class="profile-box">
          <div class="card mb-3">
            <div class="profile-detail">
              <div class="profile-left">
                <div class="mt-3">
                  <img
                    id="profile-img"
                    src="../../assets/image/user1.png"
                    class="profile-img"
                  />
                  <h4 style="font-weight: bold">
                    {{ currentUser.name }} {{ currentUser.lastname }}
                  </h4>
                  <p class="">
                    สถานะ : {{ this.status }} <br />
                    เวลาการเข้าร่วม : {{ currentUser.received_hours }} ชั่วโมง 
                  </p>
                </div>
              </div>
              <div class="profile-right">
                <div class="part1">
                  <div class="card-body">
                    <div class="row">
                      <div class="label-row">ชื่อ</div>
                      <div>
                        {{ currentUser.name }}
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="label-row">นามสกุล</div>
                      <div>
                        {{ currentUser.lastname }}
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="label-row">ชื่อเล่น</div>
                      <div>
                        {{ currentUser.nickname }}
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="label-row">เพศ</div>
                      <div>
                        {{ currentUser.gender }}
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="label-row">วันเกิด</div>
                      <div>
                        {{ currentUser.birthday }}
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="label-row">ศาสนา</div>
                      <div>
                        {{ currentUser.religion }}
                      </div>
                    </div>
                    <hr />
                  </div>
                </div>
                <div class="part2">
                  <div class="card-body">
                    <div class="row">
                      <div class="label-row">อีเมล</div>
                      <div>
                        {{ currentUser.email }}
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="label-row">เบอร์โทรศัพท์</div>
                      <div>
                        {{ currentUser.phoneNumber }}
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="label-row">อาชีพ</div>
                      <div>
                        {{ currentUser.career }}
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="label-row">สถานที่ทำงาน</div>
                      <div>
                        {{ currentUser.workplace }}
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="label-row">โรคประจำตัว</div>
                      <div>
                        {{ currentUser.congenitalDisease }}
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="label-row">อาหารที่แพ้</div>
                      <div>
                        {{ currentUser.allergicFood }}
                      </div>
                    </div>
                    <hr />
                  </div>
                </div>
              </div>
            </div>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> This is the expansion title </mat-panel-title>
                <mat-panel-description>
                  This is a summary of the content
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
          </div>
        </div>
      </div></mat-tab
    >
    <mat-tab label="ตรวจสอบกิจกรรม"
      ><div style="margin-top: 4%">
        <div *ngFor="let x of check_activity">
          <div class="activity-container-check-activity">
            <div class="header-contain">
              <div style="margin-top: 10%">
                {{ x.date }}
              </div>
            </div>

            <div class="activity-name-contain">
              <div class="activity-name-text">
                <div style="margin-top: 12%; margin-left: 10%">
                  {{ x.userActivityName }}
                </div>
              </div>
            </div>
            <div class="button-contain">
              <mat-button-toggle-group
                name="fontStyle"
                aria-label="Font Style"
                style="width: 100%"
              >
                <mat-button-toggle
                  value="bold"
                  class="detail-button"
                  (click)="
                    openDialogDetail(
                      x.activityId,
                      x.userActivityName,
                      currentUser.id,
                      currentUser.name,
                      x.date
                    )
                  "
                  ><div style="margin-top: 20%">
                    รายละเอียด
                  </div></mat-button-toggle
                >
                <mat-button-toggle
                  value="italic"
                  class="cancel-button"
                  (click)="
                  openDialogCancel(
                    x.activityId,
                    x.userActivityName,
                    currentUser.id,
                    currentUser.name,
                    x.date
                  )
                  "
                  ><div style="margin-top: 35%">ยกเลิก</div></mat-button-toggle
                >
              </mat-button-toggle-group>

              <!-- <div class="detail-button">
                  <button style="width: 100%;height: 100%;">
                    SSSSSSSS
                  </button>
                </div>
                <div class="cancel-button" >
                  <button style="width: 100%;height: 100%;">
                    SSSSSSSS
                  </button>
                </div> -->

              <!-- <button
                mat-button
                (click)="
                  openDialogDetail(
                    x.activityId,
                    x.userActivityName,
                    currentUser.id,
                    currentUser.name,
                    x.date
                  )
                "
                style="
                  background-color: #27a644;
                  color: rgb(255, 255, 255);
                  margin-top: 1.4rem;
                  margin-bottom: 1.4rem;
                  margin-right: 2rem;
                "
              >
                รายละเอียด
              </button>
              <button
                mat-button
                (click)="
                cancle_activity(
                    x.activityId,
                    x.userActivityName,
                    currentUser.id,
                    currentUser.name,
                    x.date
                  )
                "
                style="
                  background-color: #27a644;
                  color: rgb(255, 255, 255);
                  margin-top: 1.4rem;
                  margin-bottom: 1.4rem;
                  margin-right: 2rem;
                "
              >
                ยกเลิก
              </button> -->
            </div>
          </div>
        </div>
      </div></mat-tab
    >
    <mat-tab label="ประวัติการเข้าร่วม"
      ><div style="margin-top: 4%">
        <div *ngFor="let h of history_activity">
          <div class="activity-container">
            <div class="header-contain">
              <div class="header-text" style="font-weight: bold">
                {{ con_date(h.date) }}<br />
                {{ h.userActivityName }}
              </div>
            </div>
            <div class="activity-name-contain">
              <div class="activity-name-text"></div>
            </div>
            <div class="button-contain"></div>
            <button
              mat-button
              (click)="
                openDialogComment(
                  h.activityId,
                  h.userActivityName,
                  currentUser.id,
                  currentUser.name
                )
              "
              style="
                background-color: #27a644;
                color: rgb(255, 255, 255);
                margin-top: 1.4rem;
                margin-bottom: 1.4rem;
                margin-right: 2rem;
              "
            >
              รายละเอียด
            </button>
          </div>
        </div>
      </div></mat-tab
    >
  </mat-tab-group>
</div>
<!-- <div
              class="header-contain"
              style="
              width: 25%;
              background-image: url({{x.picture_activity}});
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-position: center;
              background-size: 100% 100%;
              border-radius: 10px 0px 0px 10px; "
              
            > -->
<!-- <img src="{{x.picture_activity}}"  class="img-container"> -->

<!-- <div
                style="
                  height: 100%;
                  width: 100%;
                  background-image: url({x.picture_activity});
                  background-position: center;
                  background-size: 100%;
                "
              ></div> -->
<!-- </div> -->
