<mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let x of currentUser">
        <mat-expansion-panel-header>
        <mat-panel-title>
            {{x.id}} {{x.name}}  {{x.lastname}} {{x.non_blacklist}}
        </mat-panel-title>
        <mat-panel-description>
            {{x.phoneNumber}}
        </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-slide-toggle [(ngModel)]="x.non_blacklist" (click)="update_user_status(x.id,x.non_blacklist)">สถานะกิจกรรม: {{status}}</mat-slide-toggle>
        
    </mat-expansion-panel>
</mat-accordion>