
  table {
    width: 100%;

  }
  
  td{
    width: 20%;
    font-family: 'Kanit';
    font-weight: bold;
  }

  th{
    width: 20%;
    
              background-color: #0355ff;
              color: #ffffff;
              font-family: 'Kanit';
              font-size: large;
              font-weight: bold;
  }
  
