<!-- <img src="../../assets/image/New_Project.jpeg"> -->

<div class="volunteer-title">Mirror Volunteer</div>

<mat-grid-list cols="7" rowHeight="4:1">
  <mat-grid-tile rowspan="10"></mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="10" style="margin-bottom: 20%">
    <div style="width: 724px; height: 521px">
      <app-image-slider [slides]="slides"></app-image-slider>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3"></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="6">
    <div class="volunteer-competition">
      <mat-card style="width: 100%; height: 100%; border: 1px solid #c9c9c986">
        <mat-card-content>
          <div class="text-title">อาสาดีเด่น</div>
          <mat-list role="list" *ngFor="let x of allUser; let i = index">
            <div class="competition-box">
              <mat-list-item
                role="listitem"
                style="background-color: #ffde02; border-radius: 5px"
              >
                <div class="competition-box">
                  <div class="competition-part1">อันดับ {{ i + 1 }}.</div>
                  <div class="competition-part2">
                    {{ x.name }} {{ x.lastname }}
                  </div>
                  <div class="competition-part3">
                    {{ x.received_hours }} ชม.
                  </div>
                </div>
              </mat-list-item>
            </div>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="10"></mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="4">
    <div class="volunteer-competition">
      <mat-card style="width: 100%; height: 100%; border: 1px solid #c9c9c986">
        <mat-card-content>
          <div class="text-title">รีวิว</div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="4"></mat-grid-tile>
  <mat-grid-tile colspan="7"></mat-grid-tile>
</mat-grid-list>
