

<mat-grid-list cols="7" rowHeight="4:1" style="margin: 2rem;">
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="10">
    <div style="width: 724px; height: 521px; margin: 0 auto">
      <app-image-slider [slides]="slides"></app-image-slider>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="6">
    อาสาดีเด่น
  </mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="4">รีวิว</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  <mat-grid-tile>space</mat-grid-tile>
  
  
</mat-grid-list>